/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2017, 10:45:57 AM
    Author     : Ingenieria
*/
#Header
{
    background-color: #464a4c;
    color: white;
    height: auto;
}
#fotoHeader
{
height: 160px;
width: 160px;
margin-top: 15px;        
}

#menuTop
{
    border-color: #464a4c;
}
#menuText
{
    border-right: 1px solid black;
}
#botonPublicar
{
    background-color: red;
    color: white;
    border-color: black;
    margin-left: 20px;
    margin-bottom: 10px;
}
#listaAvisos
{
    list-style: none;
}
#footer
{
    background-color:#464a4c;
    color:white;
    bottom: 0px;
    position: fixed;
}

#titulo
{
    padding-left: 15px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: -6px;
}
#tituloText
{
    padding-left: 15px;
    text-align: left;
    vertical-align: text-top;
}

#fotoBanner
{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    align-content: center;
}
#divText1
{
    margin-top:10px;
    margin-bottom:10px;
}
#botonVer
{
    background-color: white;
    color: black;
    border-color: black;
    margin-top: 100px;
}
#fotoAviso
{
    width: 200px;
    height: 200px; 
}
#botonLogIn
{
    background-color: white;
    color: black;
    border-color: black;
}

#inputLogin
{
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}

#logInZone
{
    margin-top: 20px;
}

#logInButtons
{
    margin-top: 10px;
}

#textoFooter
{
padding-bottom: 15px;
}

#menuBottom
{
border-bottom-color: #464a4c;
border-top-color: #464a4c;
top: 30px;
left: 100px;
bottom: 2px;
}

.navbar-inverse
{
background-color: #464a4c;
border-color: #464a4c;
}

#textoBienvenido
{
    right:-30px;
    top: 5px;
    position: absolute;
    font-size: 20;
}

#textoUsuario
{
    top:5px;
    left: 30px;
    position: relative;
    font-size: 20;
}

#textoOpUsuario1
{
    left: 20px;
    top: 15px;
    position: relative;
    font-size: 18px;
}
#textoOpUsuario2
{
    left: 20px;
    top: 15px;
    margin-left: 5px;
    position: relative;
    font-size: 18px;
}

#loggedZone
{
    margin-top: 5px;
    margin: auto;
}