/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2017, 10:45:57 AM
    Author     : Ingenieria
*/
#Header
{
    background-color: #464a4c;
    color: white;
    height: auto;
}
#fotoHeader
{
height: 160px;
width: 160px;
margin-top: 15px;        
}

#menuTop
{
    border-color: #464a4c;
}
#menuText
{
    border-right: 1px solid black;
}
#botonPublicar
{
    background-color: red;
    color: white;
    border-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}
.listaAvisos
{
    list-style: none;
    border: 5px solid #337ab7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}
#footer
{
    background-color: #464a4c;
    color: white;
    /* bottom: 0px; */
    /* position: fixed; */
    margin-top: 15px;
}

#titulo
{
    padding-left: 15px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: -6px;
}
#tituloText
{
    padding-left: 15px;
    text-align: left;
    vertical-align: text-top;
}

#fotoBanner
{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    align-content: center;
}
#divText1
{
    margin-top:10px;
    margin-bottom:10px;
}
#botonVer
{
    background-color: white;
    color: black;
    border-color: black;
    margin-top: 100px;
}
#fotoAviso
{
    width: 200px;
    height: 200px; 
}
#botonLogIn
{
    background-color: white;
    color: black;
    border-color: black;
}

#inputLogin
{
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}

#logInZone
{
    margin-top: 20px;
}

#logInButtons
{
    margin-top: 10px;
}

#textoFooter
{
padding-bottom: 15px;
}

#menuBottom
{
border-bottom-color: #464a4c;
border-top-color: #464a4c;
top: 30px;
left: 100px;
bottom: 2px;
}

.navbar-inverse
{
background-color: #464a4c;
border-color: #464a4c;
}

#textoBienvenido
{
    right:-150px;
    top: 5px;
    position: absolute;
    font-size: 20px;
}

#textoUsuario
{
    top:5px;
    right: -150px;
    position: relative;
    font-size: 20px;
}

#textoOpUsuario1
{
    left: 180px;
    top: 25px;
    position: relative;
    font-size: 18px;
    color: #9d9d9d;
}

#textoOpUsuario1:hover
{
    color: white;
    text-decoration:none;
}
#textoOpUsuario2
{
    left: 190px;
    top: 25px;
    margin-left: 5px;
    position: relative;
    font-size: 18px;
    color: #9d9d9d;
}
#textoOpUsuario2:hover
{
    color: white;
    text-decoration:none;
}

#loggedZone
{
    margin-top: 5px;
    margin: auto;
}

#botonMisAvisos
{
    background-color: white;
    color: black;
    border-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}

.container_form{
   width: 800px;  
}

.imagenListaAvisos
 {
   height: 15%;
    width: 50%;
        display: block;
    max-width: 100%;
}

.dashBorder
{
    border-left: 5px dashed #337ab7;
    border-right: 5px dashed #337ab7;
}

.tituloListaAvisos
{
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
    text-decoration: underline;
    font-size: 18px;
    color: #337ab7;
}

.textoAvisoNegrita
{
     font-family: monospace;
    font-weight: bold;  
    font-size: 15px;
}
.precio{
    font-size: 20px;
    color: #d80000;
     font-family: monospace;
}
.fecha{
    font-size: 15px;
      font-family: monospace;
}